###
# #%L
# HDF5 plugin for ImageJ and Fiji.
# %%
# Copyright (C) 2011 - 2022 Fiji developers.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 2 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-2.0.html>.
# #L%
###
File>Import,  "HDF5...", sc.fiji.hdf5.HDF5_Reader_Vibez
File>Save As, "HDF5 (new or replace)...", sc.fiji.hdf5.HDF5_Writer_Vibez("replace")
File>Save As, "HDF5 (append)...", sc.fiji.hdf5.HDF5_Writer_Vibez("append")
Plugins>HDF5, "Load HDF5 File...", sc.fiji.hdf5.HDF5_Reader_Vibez
Plugins>HDF5, "Save to HDF5 File (new or replace)...", sc.fiji.hdf5.HDF5_Writer_Vibez("replace")
Plugins>HDF5, "Save to HDF5 File (append)...", sc.fiji.hdf5.HDF5_Writer_Vibez("append")
Plugins>HDF5, "Scriptable load HDF5...", sc.fiji.hdf5.HDF5_Simple_Reader
Plugins>HDF5, "Scriptable load HDF5 (custom layout)...", sc.fiji.hdf5.HDF5_Simple_Custom_Reader 
Plugins>HDF5, "Scriptable save HDF5 (new or replace)...", sc.fiji.hdf5.HDF5_Simple_Writer("replace")
Plugins>HDF5, "Scriptable save HDF5 (append)...", sc.fiji.hdf5.HDF5_Simple_Writer("append")
Plugins>HDF5, "Vibez validate...", sc.fiji.hdf5.Vibez_Validate
