File>Import,  "HDF5...", sc.fiji.hdf5.HDF5_Reader_Vibez
File>Save As, "HDF5 (new or replace)...", sc.fiji.hdf5.HDF5_Writer_Vibez("replace")
File>Save As, "HDF5 (append)...", sc.fiji.hdf5.HDF5_Writer_Vibez("append")
Plugins>HDF5, "Load HDF5 File...", sc.fiji.hdf5.HDF5_Reader_Vibez
Plugins>HDF5, "Save to HDF5 File (new or replace)...", sc.fiji.hdf5.HDF5_Writer_Vibez("replace")
Plugins>HDF5, "Save to HDF5 File (append)...", sc.fiji.hdf5.HDF5_Writer_Vibez("append")
Plugins>HDF5, "Scriptable load HDF5...", sc.fiji.hdf5.HDF5_Simple_Reader
Plugins>HDF5, "Scriptable save HDF5 (new or replace)...", sc.fiji.hdf5.HDF5_Simple_Writer("replace")
Plugins>HDF5, "Scriptable save HDF5 (append)...", sc.fiji.hdf5.HDF5_Simple_Writer("append")
Plugins>HDF5, "Vibez validate...", sc.fiji.hdf5.Vibez_Validate
